body {
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    background-color: #5b6169;
}

.logo-header {
    margin: 30px 0;
    vertical-align: auto;
}

.logo {
    margin: 0;
}

.menu > button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #ffffff;
    font-size: 14px;
    margin: 30px 15px;
}

.menu>button:hover {
    color: blue;
}

aside {
    min-width: 100%;
    min-height: 100px;
    background: radial-gradient(#eaeff2, #97daf9);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: none;
  }

.aside-content > button {
    width: 170px;
    height: 35px;
    background-color: #73abda;
    color: #ffffff;
    font-size: 14px;
    margin-top: 30px;
}

 .content {
     display: flex;
     justify-content: center;
 }

 main > .headline > p {
     font-size: 30px;
     color: #5b6169;
     margin: 0 15px;
 }

 .line {
     height: 1px;
     width: 12em;
     border: 1px solid #5b6169;
 }

 .headline {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 30px 0;
 }

 .apple {
     max-width: 265px;
     max-height: 250px;
     text-align: center;
 }

 .heading {
     font-size: 18px;
     color: #3674ba;
     margin: 25px 0;
 }

 .android {
    max-width: 265px;
    max-height: 250px;
    text-align: center;

}

.windows {
    max-width: 265px;
    max-height: 250px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 500px;
}

.img-apple {
    margin: auto;
}

.img-android {
    margin: auto;
}

.img-win {
    margin: auto;
}

.info {
    width: 124px;
    height: 30px;
    background-color: #3674ba;
    color: #ffffff;
    font-size: 14px;
    margin-top: 1em;
}

article {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 100%;
    min-width: 100%;
    background-color: #d1d1d1;
}

article > .headline > p {
    font-size: 30px;
    color: #5b6169;
    margin: 0 15px;
}

.article {
    display: flex;
    justify-content: center;
}

.article-content {
    max-width: 450px;
    max-height: 400px;
    margin-right: 10px;
}

h1 {
    font-size: 25px;
    color: #5b6169;
    padding-bottom: 15px;
}

h2 {
    font-size: 25px;
    color: #73abda;
    padding-top: 40px;
}

.html {
    max-height: 30px;
    background: linear-gradient(to right, #3674ba 90%, #828181);
    font-size: 12px;
    padding: 3px;
    color: #ffffff;
    margin-bottom: 10px;
}

.css {
    max-height: 30px;
    background: linear-gradient(to right, #3674ba 95%, #828181);
    font-size: 12px;
    padding: 3px;
    color: #ffffff;
    margin-bottom: 10px;
}

.photoshop {
    max-height: 30px;
    background: linear-gradient(to right, #3674ba 85%, #828181);
    font-size: 12px;
    padding: 3px;
    color: #ffffff;
    margin-bottom: 10px;
}

.mobile {
    max-height: 30px;
    background: linear-gradient(to right, #3674ba 80%, #828181);
    font-size: 12px;
    padding: 3px;
    color: #ffffff;
    margin-bottom: 10px;
}

.forms {
    max-width: 450px;
    max-height: 400px;
    margin-left: 10px;
}

form {
   display: flex;        
   flex-direction: column;
}

input {
    margin-bottom: 10px;
}

#massage {
    height: 100px;
    max-width: 450px;
    min-width: 320px;
}

.map {
    max-width: 450px;
    min-width: 320px;
    max-height: 150px;
    margin-bottom: 10px;
}

.map-style {
    min-width: 320px;
    max-width: 450px;
    margin: 0;
}

.massage {
    position: relative;
    max-width: 450px;
    min-width: 320px;
}

input[type="submit"] {
    width: 90px;
    height: 30px;
    border: none;
    background-color: #3674ba;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
}

footer {
    min-height: 100px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 625px) {
    button {
        display: block;
    }
    .headline, .content, .apple {
        display: flex;
        flex-direction: column;
    }
    .img-apple, .img-android, .img-win {
        display: none;
    }

    .article {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 450px) {
    .massage, #massage {
        width: 450px;
    }
}

@media screen and (min-width: 626px) and (max-width: 800px) {
    .article {
        display: flex;
        flex-direction: column;
    }
}